*{
  background-color: lightgray;
}

.App {
  text-align: center;
}

.App h1{
  color: rgb(255, 119, 0);
  font-size: 30px;
}

.App input{
  width: 200px;
  height: 25px;
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid black;
}

.App button{
  width: 200px;
  height: 35px;
  background-color: rgb(255, 119, 0);
}

.App button:hover{
  background-color: gray;
}